
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Employees</title>

</head>

<body>
    <h2>Employee List</h2>

    <a href="/showAddForm">Add New Employee</a>

    <table border="1">

        <tr>

            <th>ID</th><th>Name</th><th>Department</th><th>Email</th><th>Actions</th>

        </tr>

        <tr th:each="emp : ${employees}">

            <td th:text="${emp.id}"></td>

            <td th:text="${emp.name}"></td>

            <td th:text="${emp.department}"></td>

            <td th:text="${emp.email}"></td>

           <td>

               <a th:href="@{/showUpdateForm/{id}(id=${emp.id})}">Edit</a>

                <a th:href="@{/deleteEmployee/{id}(id=${emp.id})}">Delete</a>

            </td>

        </tr>

    </table>

</body>

</html>